.cont{
    position: relative;
    width: 500px;
    min-height: 50px;
    padding: 15px;
    /*background: rgb(37, 37, 37);*/
    background: rgba(0, 0, 0,0.3);
    backdrop-filter: blur(15px);
    transition: visibility 0.5s, max-height 0.5s ease-in-out;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgba(64, 224, 208,0.3);
    overflow: hidden;
    border-top:solid 1px grey ;
    border-right:solid 1px grey ;
 }
 .title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .invisible{
    position: relative;
    visibility: hidden;
    max-height: 0;
    transition: visibility 0.5s, max-height 0.5s;
 }
 .content{
    position: relative;
    visibility: visible;
    max-height: 1000px; /* Ajusta este valor según tus necesidades */
    transition: visibility 1s, max-height 1s;
 }
 