.acc{
    position: fixed;
    height: 100vh;
    width: 300px;
    border-right: 1px solid rgb(59, 58, 58);
    z-index: 10000;
    padding-top: 90px;
    padding-left: 20px;
    font-size: 0.8em;
    color: whitesmoke;
    overflow: scroll;
}
.acc ul{
    position: relative;
    list-style: none;
    padding-left: 20px;
    
}
.acc ul li{
    position: relative;
    color: rgb(195, 194, 194);
    padding: 5px 5px 5px 5px;
    left: 0;
    transition: 0.3s;
    cursor: pointer;
}
.acc ul li:hover{
    left: 10px;
}
.externalUl li{
    color: whitesmoke !important;
    font-family: "PoppinsBolder";
    min-height: 40px;
    padding: 10px;
}