.cont{
    position: relative;
    border: 1px solid rgba(64, 224, 208,0.3);
    border-radius: 20px;
    /*background: rgba(0, 0, 0,0.3);*/
    backdrop-filter: blur(15px);
    cursor: pointer;
    overflow: hidden;
    
}

.number{
    font-family: "PoppinsBolder";
    font-size: 2em;

}
.header{
    font-size: 1.2em;
    font-family: "PoppinsBold";
    padding: 10px 0px 10px;
}
.bx{
    background: rgba(0, 0, 0,0.5);
    backdrop-filter: blur(20px);
    height: 100%;
    padding: 20px;
    z-index: 100;
}


.circle {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgba(64, 224, 208,0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;

   }
   
   .cont:hover .circle {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 125px 0px rgba(64, 224, 208,0.3);
-moz-box-shadow: 0px 0px 125px 0px rgba(64, 224, 208,0.3);
box-shadow: 0px 0px 125px 0px rgba(64, 224, 208,0.3);
   }